body{
    background-color:#050A2B;
}
.name{
    color: aqua;
}
.nome{
    width: 250px;
    height: 20px;
    border-radius: 5px;
}
.email{
    height: 20px;
    width: 250px;
    border-radius: 5px;
}
.open{
color: aqua;
font-size: 18px;
}
#senha{
 height: 20px;
 width: 250px;
 border-radius: 5px;
}
.primeiro{
    margin-top: 100px;
    background-color: rgb(10, 58, 146);
    width: 700px;
    height: 500px;
    border-radius: 14px;
}
.primeiro:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
h1{
    color: aqua;
}
h1:hover{
    background-color: rgb(14, 15, 15);
}
.button{
    background-color: #050A2B;
    color: aliceblue;
    height: 30px;
    border-radius: 12px;
    margin-top: 20px;
    margin-right: 200px;
}